page-login {
    .scroll-content {
        flex-direction: column;
        overflow: hidden;
    }
    .toolbar-title-ios{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        float: left;
        margin-left: -70px;
        font-size: 22px;
        width: 170px;
        margin-top: -5px;
    }
    .toolbar-content-ios{
        margin-top: 0px;
    }
    .toolbar-title-wp{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: normal;
    }
    .corpo {
        background-color:white;
    }
    .conteudo1 {
        position: relative;
        margin: auto;
        padding: 0px auto;
        width: 100%;
        height: 70%;
        box-shadow: none;
        background-color: white;
        img{
            margin: 20% auto 2%;
            max-width: 20rem;
            min-width: 20rem;
        }
    }
    .frase{
        margin: 20px auto;
    }
    .frase1{
        color: #000;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: bolder;
    }
    .conteudo2 {
        position: relative;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        margin: 0px;
        margin-top: 40px;
        box-shadow: none;
    }
    .entrar{
        text-align: center;
    }
    .coluna1{
        margin-left:40px;
        margin-top:0px;
        padding: 0px;
        height: 40px;
        background-color: rgb(74,110,169);
    }
    .coluna2{
        margin-right:40px;
        margin-top:0px;
        padding: 0px;
        height: 40px;
        background-color: rgb(157,5,2);
        
    }
    .logo1{
        max-width: 1.5rem;
        min-width: 1.5rem;
        margin: 10px auto;
    }
    .logo2{
        max-width: 2.5rem;
        min-width: 2.5rem;
        margin: 13px auto 0px;
    } 
    
    .linha2{
        padding-top: 0px;
        margin: 0px 70px 0px 70px;
    }
    .botao{
        padding: 0px;
        height: 40px;
        background-color: rgb(74,110,169);
        color:white !important;
        width: 200px;
        p{  
            color:white !important;
            height: 40px;
            margin: 0px;
            padding: 5px;
            padding-left:0px;
            padding-top: 4px;
            font-size: 20px;
            text-indent: 0em;
            text-align: center;
        }
    }
    
}
