<ion-header>
  <ion-navbar color="preto">
    <ion-title> Perguntas
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class='corpo'>
  <p>
    <ion-card *ngFor="let pergunta of perguntas" class='cards'>
      <ion-card-content >
        <p class='titulo'>{{pergunta.id}}º {{pergunta.pergunta}}</p>
        <p class='obs'>Proposta: {{pergunta.codigo}}</p>
        <p class='obs'>Votada dia: {{pergunta.data}}</p>
        <button ion-button class="btnDoc" color="primary">Ler Doc</button>
        <ion-list  no-lines class="lista">
          <ion-item *ngFor="let resposta of respostas; let idx = index" (click)="seleciona(pergunta.id, resposta)" class="respostas" >
            {{resposta}}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-icon class='arrowRight' name="arrow-dropright-circle" (click)="teste()"></ion-icon> 
  </p>
</ion-content>
