page-detalhamento {
    //GERAL###############################################
    .scroll-content {
        flex-direction: column;
        overflow: hidden;
        margin-top: 150px;
    }
        
    //BARRA TOPO##########################################
    .tituloPrincipal {
        text-transform: capitalize;
        float: left;
        text-align: left;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .toolbar-title{
        font-size: 16px;
        margin-top: 5px;
        color: white;
    }
    .bar-button{
        color: white;
    }
    .logo{
        float: right;
        max-width: 4rem;
        min-width: 4rem;
        margin-right: 10px;
        margin-top: auto;
        padding: 2px;
    }
    
    .barra{
        margin: 0px;
        margin-top: 0px;
        padding: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
    }
    .toolbar-background-md{
        background: #000;
        height: 60px;
    }
    .toolbar-background-ios{
        background: #000;
        height: 70px;
    }
    .toolbar-background-wp{
        
        background: #000;
        height: 60px;
    }
    .toolbar-title-ios{
        width: 200px;
        margin-top: -7px;
        margin-left: -40px;
        text-align: left;
        padding:0px;
    }
    .toolbar-title-wp{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-transform: capitalize;
    }
    
    //IDENTIFICAÇÃO DO PARLAMENTAR########################
    .item{
        background-color: #eee;
        padding: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100px;
    }
    .deputado{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin: 10px 0px 0px 0px;
        padding: 0px;
        font-size: 12px;
        color: #333;
        text-transform: uppercase;
        display: block;
        overflow:hidden;
        word-wrap: break-word;
        //height: 50px;
        width:160px;
        white-space: normal;
    }
    .partido{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin: 0px 0px 5px 0px;
        padding: 0px;
        font-size: 10px;
        color: rgb(102, 102, 102);
        font-weight: bold;
    }
    .item ion-thumbnail {
        max-width: 7.5rem;
        min-width: 7.5rem;
        img {
            margin:0px;
            padding: 0px;
            padding-left: 0px;
            max-width: 7.5rem;
            max-height: 10rem;
            min-width: 7.5rem;
            min-height: 10rem;
        }
    }
    .item-inner{
        margin-right: -16px;
        padding: 0px;
        margin-left: -10px;
        width:200;
        //background-color: red;
    }
    .teste{
        padding: 50% 1px;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        min-width: 70px;
        .texto{
            margin: 15px;
        }
    }
    .note-md0{ background-color: #16cbd1;}
    .note-md1{ background-color: #00ff00;}
    .note-md2{ background-color: #ffff00;}
    .note-md3{ background-color: #ffa500;}
    .note-md4{ background-color: #fd5f5f;}

    
    .toolbar-content .toolbar-content-ios{
        background-color: #16cbd1;
    }

    //TABELA##########################################
    ion-grid{
        margin-top: 0px;
    }
    .header-md{
        height: 0px;
    }
    .content-md{
        margin-top:0px;
    }
    .tituloCol1 {
        background-color: #ccc;
        border-left: 1px solid #666;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        border-radius: 0px;
        padding: 5px;
        text-align: Left;
    }
    .tituloCol2 {
        background-color: #ccc;
        border: 1px solid #666;
        border-radius: 0px;
        padding: 5px;
        text-align: center;
    }
    .tituloCol3 {
        background-color: #ccc;
        border-right: 1px solid #666;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        border-radius: 0px;
        padding: 5px;
        text-align: center;
    }
    .conteudoCol1{
        font-size: 13px;
        background-color: #eee;
        border-left: 1px solid #666;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 0px;
        padding: 5px;
    }
    .conteudoCol2{
        background-color: #eee;
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        border-radius: 0px;
        padding: 5px;
        text-align: center;
    }
    .conteudoCol3{
        background-color: #eee;
        border-right: 1px solid #666;
        border-radius: 0px;
        padding: 5px;
        text-align: center;
    }
    .ultima{
        border-top: 1px solid #666;
    }
    p {
        padding: 0px 0 0 10px !important;
        margin: 0;
    }
    .sim{
        color: rgb(22, 187, 0);
        //padding-top:2px;
    }
    .nao{
        color: rgb(243, 117, 0);
        //padding-top:2px;
    }
    .abs{
        color: black;
        font-size: 9px;
        padding-top:7px;
    }
}
