.background-menu{
    background-color: black;
         
   }
 
 .background-btn-menu{
     background-color: black;
     color: whitesmoke;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: justify;
     margin: 20px 0px 0px 0px;
     padding: 0px 10px 0px 10px;
          
 }
 
 .conteudo1 {
     position: unset;
     margin: 0px;
    //  padding: 100px;
     width: 100%;
     box-shadow: none;
     background-color: black;
     
 }
  