page-contato {
    ion-textarea{
        height: 100px;
        position:absolute;
    }
    .scroll-content {
        //margin-top: 0 !important;
        //display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .logo{
        float: right;
        max-width: 4rem;
        min-width: 4rem;
        margin-right: 6px;
        margin-top: auto;
        padding: 2px;
    }
    .toolbar-title-ios{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        float: left;
        margin-left: -30px;
        font-size: 22px;
        width: 170px;
        margin-top: -10px;
        
    }
    .toolbar-content-ios{
        margin-top: 0px;
    }
    .toolbar-title-wp{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: normal;
    }
    .corpo{
        background-color: rgb(212, 212, 212);
    }
    .email{
        background-color: rgb(255, 255, 255);
    }
    .nome{
        background-color: rgb(255, 255, 255);
    }
    .mensagem{
        position: static; 
        height: 200px;
        background-color: rgb(255, 255, 255);
        .input-cover { position: static; }
    }
    

    .estado{
        //background-color: rgb(255, 243, 82);
        color:black;
        width: 100%;
        margin-top:0px;
        border-bottom: none;
        box-shadow: none;
    }
    ion-select.select{
        width: 100% !important;
        max-width: 100%;
    }
    .select{
        padding: 5px 10px 0px 10px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        margin:0px;
    }
    .input-cover { position: static; }
    
    .item item-block item-md{
        border: 0;
        color:#999;
        border-bottom: none;
        box-shadow: none;
    }
    
}
