page-tutorial {
    .scroll-content {
        //margin-top: 0 !important;
        //display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .logo{
        float: right;
        max-width: 4rem;
        min-width: 4rem;
        margin-right: 6px;
        margin-top: auto;
        padding: 2px;
    }
    .toolbar-title-ios{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        float: left;
        margin-left: -30px;
        font-size: 22px;
        width: 170px;
        margin-top: -10px;
        
    }
    .toolbar-content-ios{
        margin-top: 0px;
    }
    .toolbar-title-wp{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: normal;
    }
    .corpo{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: justify;
        color: #000;
        font-size: 16px;
        width: 100%;
    }
    p{
        margin:10px 5px 10px 5px;
        text-indent: 1em;
    }
    .linha{
        padding-top: 10px;
        margin:10px 70px 0px 70px;
    }
    .botao{
        padding: 0px;
        height: 40px;
        background-color: rgb(74,110,169);
        color:white;
        width: 200px;
        p{  
            height: 40px;
            margin: 0px;
            padding: 5px;
            padding-left:0px;
            padding-top: 8px;
            font-size: 20px;
            text-indent: 0em;
            text-align: center;
        }
    }
}