page-estado {
    .arrowRight {
        zoom: 200%;
        padding: 10px 50%;        
    }
    .corpo{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
        margin: 20px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
        
    }
    
    .scroll-content {
        overflow-y: auto !important;
     }
}