page-perguntas {
    .arrowRight {
        zoom: 200%;
        padding: 10px 50%;
        color: black;     
    }
    .tituloPrincipal {
        float: left;
        text-align: left;
        margin-top: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .logo{
        float: right;
        max-width: 4rem;
        min-width: 4rem;
        margin-right: 6px;
        margin-top: auto;
        padding: 2px;
    }
    .toolbar-title-ios{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        float: left;
        margin-left: -30px;
        font-size: 22px;
        width: 170px;
        margin-top: -10px;
        
    }
    .toolbar-content-ios{
        margin-top: 0px;
    }
    .toolbar-title-wp{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: normal;
    }
    .corpo{
        background-color: rgb(51, 51, 51);
        padding-top:-10px;
    }
    .espaco{
        background-color: rgb(255, 0, 0);
        height: 25px;
    }
    .estado{
        background-color: yellow;
        color:black;
        width: 100%;
        margin-top:-10px;
        border-bottom: none;
        box-shadow: none;
    }
    ion-select.select{
        width: 100% !important;
        max-width: 100%;
    }
    ion-option *{
        font-size: 20px;
    }
    
    .select{
        padding: 5px 10px 0px 10px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        margin:0px;
    }
    
    .cards{
        background-color: #fff;
        width: 100%;
        margin: 20px 0px;
    }

    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #444;
        fill:   #222;
    }
    
    .titulo{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
        margin: 0px 0px 5px 0px;
        padding: 0px 0px 0px 0px;
        font-size: 12px;
        font-weight: bold;
        color:  #000;
    }
    .obs{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
        color:  #777;
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
    }
    .btnDoc{
        font-size: 10px;
        color:  #fff;
        height: 20px;
        text-transform: initial;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0px;
        padding: 10px;
        border-radius: 0%;
        box-shadow: none;
        margin: 5px 0px 0px 0px;
    }
    .scroll-content {
        flex-direction: column;
        //overflow: hidden;
     }
    .item{
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        line-height: 10px;
        float: left;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .formulario,.coluna{
        margin: 0px;
        padding: 0px;
        //background-color: green;
        font-size: 0;
    }
    .linha{
        width: 50%;
        height: 35px;
        font-size: 0;
        display: inline-block;
    }
    .item-inner { border-bottom-color: transparent !important; box-shadow: none !important; }

    ion-segment-button{
        color: black !important;
        background-color: rgb(223, 222, 222) !important;
        border-color: rgb(158, 158, 158) !important;
        margin: 10px 5px 0px 0 !important;
        text-transform: initial !important;
        display: flex !important;
        height: 20px !important;
        align-items: center !important;
        text-align: center !important;
        border: 1px #000 !important;
    }
    .segment-button.segment-activated{
        background-color: #488aff !important;
        border-color: #488aff !important;
        color: rgb(255, 255, 255) !important;
    }

    // ion-grid{
    //     .item {
    //         padding: 0 !important;
    //         margin-bottom: 0 !important;
    //         background-color: #ffffff;
    //         color: rgb(88, 88, 88);
    //     }
    //     .radio-icon {
    //         background-color: yellow;
    //         color: green;
    //     }
    //     .item-radio input ~ .radio-icon {
    //         visibility: visible !important;
    //     }
        
    // }
    .item-radio .radio-icon {
        color: red;
        background-color: yellow;
      }
      
      .item-radio input ~ .radio-icon {
          visibility: visible !important;
      }
      
      .item-radio > .radio-icon:before {
          content: "\f3a6" !important; /*deselected - Ionic class = ion-android-radio-button-off */
      }
      
      .item-radio > input[type=radio]:checked ~ .radio-icon:before {
          content: "\f3a7" !important; /*selected Ionic class = ion-android-radio-button-on */
      }
    
    

    // .item-md.item-block .item-inner, .item-md.item-input.input-has-focus .item-inner,
    // .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    // .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    // .list-md .item-input.input-has-focus:last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    // .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    //     border-bottom: none;
    //     box-shadow: none;
    // }
    // .list-md .item-input.input-has-focus:last-child .item-inner,
    // .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    // .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    //     box-shadow: none; 
    // }
}
