<ion-header>
  <ion-navbar color="preto" class="barra">
    <ion-title class="tituloPrincipal">Perguntas </ion-title>
    <button ion-button menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    <img src="assets/imgs/eu.png" id="logo10" class="logo">
  </ion-navbar>
</ion-header>

<ion-content padding class='corpo'>
    <ion-spinner name="circles" *ngIf="perguntas == []"></ion-spinner>
    <ion-item class="estado">
      <ion-select [(ngModel)]="estado" class="select" [placeholder]="frase">
        <ion-option value="ACRE">Acre</ion-option>
        <ion-option value="ALAGOAS">Alagoas</ion-option>
        <ion-option value="AMAPÁ">Amapá</ion-option>
        <ion-option value="AMAZONAS">Amazonas</ion-option>
        <ion-option value="BAHIA">Bahia</ion-option>
        <ion-option value="CEARÁ">Ceará</ion-option>
        <ion-option value="DISTRITO FEDERAL">Distrito Federal</ion-option>
        <ion-option value="ESPÍRITO SANTO">Espírito Santo</ion-option>
        <ion-option value="GOIÁS">Goiás</ion-option>
        <ion-option value="MARANHÃO">Maranhão</ion-option>
        <ion-option value="MATO GROSSO">Mato Grosso</ion-option>
        <ion-option value="MATO GROSSO DO SUL">Mato Grosso do Sul</ion-option>
        <ion-option value="MINAS GERAIS">Minas Gerais</ion-option>
        <ion-option value="PARÁ">Pará</ion-option>
        <ion-option value="PARAÍBA">Paraíba</ion-option>
        <ion-option value="PARANÁ">Paraná</ion-option>
        <ion-option value="PERNAMBUCO">Pernambuco</ion-option>
        <ion-option value="PIAUÍ">Piauí</ion-option>
        <ion-option value="RIO DE JANEIRO">Rio de Janeiro</ion-option>
        <ion-option value="RIO GRANDE DO NORTE">Rio Grande do Norte</ion-option>
        <ion-option value="RIO GRANDE DO SUL">Rio Grande do Sul</ion-option>
        <ion-option value="RONDONIA">Rondônia</ion-option>
        <ion-option value="RORAIMA">Roraima</ion-option>
        <ion-option value="SANTA CATARINA">Santa Catarina</ion-option>
        <ion-option value="SÃO PAULO">São Paulo</ion-option>
        <ion-option value="SERGIPE">Sergipe</ion-option>
        <ion-option value="TOCANTINS">Tocantins</ion-option>
      </ion-select>
    </ion-item>
    <p class="espaco">&nbsp;</p>
    <ion-card *ngFor="let pergunta of perguntas; let i = index;" class='cards'>
        <ion-list>
          <ion-card-content >
            <p class='titulo'>{{i+1}}º {{pergunta.pergunta}}</p>
            <p class='obs'>Proposta: {{pergunta.codigo}}</p>
            <p class='obs'>Votada em: {{pergunta.data}}</p>
            <!-- <button ion-button class="btnDoc" color="primary">Ler Doc</button> -->
            <ion-segment [ngModel]="pergunta.id">
              <ion-segment-button value="Sim" (click)="doSubmit('Sim', pergunta.id, pergunta.resumo)">
                Sim
              </ion-segment-button>
              <ion-segment-button value="Não" (click)="doSubmit('Nao', pergunta.id, pergunta.resumo)">
                Não
              </ion-segment-button>
              <ion-segment-button value="Abstenção" (click)="doSubmit('Abstencao', pergunta.id, pergunta.resumo)">
                Abstenção
              </ion-segment-button>
            </ion-segment>
          </ion-card-content>
        </ion-list>
  
    </ion-card>
    <button ion-button full block color="primary" (click)="enviar()">Enviar</button>
    <p></p>
</ion-content>